$color_degrade1:#dde9e2;
$color_degrade2:#f7f8f0;
$mainColor_green:#1DBF73;
$fontBlack_color:#2F3231;
$midleBlack_color:#505150;
$footer_color:#052415;
$placeHolder_form_color:#404241;

.main{
    margin-left: 50px;
    margin-right: 50px;
}

.logo{
    width: auto;
    height: 70px;
    padding-top: 10px;
}
.block1_main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(135deg,$color_degrade1,$color_degrade2);
    padding-left: 150px;
    padding-right: 150px;
}
.wrapper{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.left_part{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rigth_part{
    flex:1;
    display: flex;
    align-items: center;
    position: relative;
}
.image1{
    width:44%;
    height:auto;
    z-index:100;
    position:absolute;
    filter: drop-shadow(17px 10px 18px rgb(0, 0, 0,0.7));
    right: 150px;
    bottom:50px;
}

.image2{
    width:45%;
    height:auto;
    z-index:99;
    position:absolute;
    filter: drop-shadow(17px 10px 35px rgb(0, 0, 0,0.3));
    right: 0px;
       bottom:120px;
}

.text1{
  
    font-family:'Open_Sans',sans-serif;
    font-weight: 700;
    color:$fontBlack_color;
    font-size: 30px;
}
.spanName1{
        color: $mainColor_green;
    }

.text2{
  
    font-family:'Open_Sans',sans-serif;
    font-weight: 300;
    color:$midleBlack_color;
    font-size: 20px;
    margin-top: 50px;
}
.formContainer{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.input1{
    padding: 18px;
    border: solid 1px $mainColor_green;
    flex-grow: 1;
    background-color: transparent;
    border-radius: 5px;
}

.input1:focus{
   outline: none;
}
.suscribeBtn{
    padding-left: 25px;
    padding-right: 25px;
    background-color: $mainColor_green;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 8px;
    border-radius: 5px;
}

// block2 style

.block2_main{
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
}
.subBlock2_A{
    width: 50%;

}
.subBlock2_B{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.image3{
    width: 60%;
    height: auto;
}
.title{
    color:$mainColor_green;
    margin-bottom: 20px;
}
.block2_span_subtitle{
    font-size: 18px;
    font-weight: 700;
    color: $fontBlack_color;
}
.block2_text{
    color: $midleBlack_color;
    font-size: 15px;
}

// block 3 styled

.block3_main{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    background-color: #F8FAF9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.block3_wraper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:50px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.idContainer{
    width: 35px;
    height: 35px;
    background-color: $mainColor_green;
    line-height: 35px;
    border-radius: 55px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}
.step_title{
    color: $fontBlack_color;
    margin-top: 15px;
}

.step_text{
    color: $midleBlack_color;
    font-size: 15px;
    margin-top: 10px;
}

.sondageText{
    width: 45%;
    color: $fontBlack_color;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.Btn{
    padding: 10px 25px 10px 25px;
    background-color: $mainColor_green;
    color: white;
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
}

//footer

.footerMain{
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: $footer_color;
    color: white;
}




//responsive design

@media screen and (max-width:576px) {
.block1_main{
    width: 100%;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    }

    .wrapper{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .left_part{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .rigth_part{
        display: flex;   
        width: 100%;          
        position: relative;
        display: flex; 
        justify-content: center;
        align-items: center; 
        padding-top: 50px;
        padding-bottom: 50px; 
    }

    .image1{
    position: absolute;           
    width: 45%;               
    height: auto;                         
    bottom: 20;  
    left: 50;             
    z-index: 100;              
    filter: drop-shadow(10px 8px 7px rgb(0, 0, 0,0.5)); 
    }

    .image2{
    position: static;          
    width: 50%;                
    height: auto;                           
    bottom: auto;              
    z-index: 99;              
    filter: drop-shadow(17px 10px 25px rgb(0, 0, 0,0.4)); 
    margin-left: 100px;
    }
    .logoContainer{
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .logo{
    width: auto;
    height: 55px;
    }

    .text1{
  
    font-family:'Open_Sans',sans-serif;
    font-weight: 700;
    color:$fontBlack_color;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    }
    .text2{
        text-align: center;
    }
    .formContainer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    }
    .suscribeBtn{
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 20px;
        margin-left: 0px;
    }
    input::placeholder{
        text-align: center;
    }
    

    //block 2

    .block2_main{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column-reverse;
    }

    .subBlock2_A{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    .subBlock2_B{
    width: 100%;
    text-align: center;
    }
    .image3{
    width: 75%;
    }

    //block 3

    .block3_main{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    }
    .title{
        text-align: center;
    }

    //footer

    .sondageText{
    width: 100%;

    }
    .Btn{
        padding: 15px 25px 15px 25px;
        width: 70%;
        text-align: center;
    }

}